.registerPage {
    height: 93vh;
    display: flex;
    justify-content: center;
}

.registerPage form {
    margin-top: 40px;
    height: 500px;
    width: 330px;
    display: block;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.registerPage input {
    width: 200px;
    margin-bottom: 5px;
}